


<div class ="converter">
  <h2>Currency Converter</h2>
  <div class="input-group">
    <select [(ngModel)]="fromCurrency" (change)="convertCurrency()">
      <option *ngFor="let currency of getObjectKeys(exchangeRates.rates)" [value]="currency">{{ currency }}</option>
    </select>
    <input type="number" [(ngModel)]="fromAmount" (input)="convertCurrency()" placeholder="Enter amount" />
  </div>

  <div class="input-group">
    <select [(ngModel)]="toCurrency" (change)="convertCurrency()">
      <option *ngFor="let currency of getObjectKeys(exchangeRates.rates)" [value]="currency">{{ currency }}</option>
    </select>
    <input type="number" [(ngModel)]="toAmount" (input)="convertCurrency()" placeholder="Enter amount" />
  </div>

  <button (click)="reverseConversion()">Reverse</button>
</div>

