<div class="converter">
  <h2>Currency Converter</h2>
  <div class="input-group">
    <select (change)="convertCurrency()" [(ngModel)]="fromCurrency">
      <option *ngFor="let currency of getObjectKeys(exchangeRates.rates)" [value]="currency">{{ currency }}</option>
    </select>
    <input (input)="convertCurrency()" [(ngModel)]="fromAmount" placeholder="Enter amount" type="number"/>
  </div>

  <div class="input-group">
    <select (change)="convertCurrency()" [(ngModel)]="toCurrency">
      <option *ngFor="let currency of getObjectKeys(exchangeRates.rates)" [value]="currency">{{ currency }}</option>
    </select>
    <input (input)="convertCurrency()" [(ngModel)]="toAmount" placeholder="Enter amount" type="number"/>
  </div>

  <button (click)="reverseConversion()">Reverse</button>
</div>

